<div class="well footer">

    <h3>Quản Lý Danh Bạ Điện Thoại

        <span class="pull-right">
            <table class="table" style="width: 77%;">
                <thead>
                    <tr>
                        <th>Họ Tên</th>
                        <th>Mã Số Sinh Viên</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Phan Quốc Tuấn</td>
                        <td>123456</td>
                    </tr>
                    <tr>
                        <td>Nguyễn Hoàng Nhân</td>
                        <td>654321</td>
                    </tr>
                </tbody>
            </table>
        </span>

    </h3>

</div>

<style>
    /* Add this CSS to your stylesheet */
    html, body {
        height: 100%;
        margin: 0;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
</style>